/* You can add global styles to this file, and also import other style files */

@import "../node_modules/codemirror/lib/codemirror.css";
@import "../node_modules/codemirror/theme/solarized.css";

html,
body,
h1 {
  padding: 0;
  margin: 0;
}

.gutter {
  background: gray;
  border-radius: 4px;
  &-horizontal {
    cursor: col-resize;
  }
  &-vertical {
    cursor: row-resize;
  }
}
